
.save-button {
    color: #fff;
    background: #19a463;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.save-button:hover {
    color: #fff;
    background: #1c744b;
}

.cancel-button {
    color: #fff;
    background: #6c757d;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.cancel-button:hover {
    color: #fff;
    background: #2a2a2a;
}