.aply-btn {
    background: rgba(25 164 99 / 100%);
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 15px;
    text-align: center;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.aply-btn:hover {
    color: #ffffff;
    background: rgba(28 116 75 / 100%);
}